@charset "utf-8";

code[class*="language-"], pre[class*="language-"] { color: rgb(0, 0, 0); background: none; text-shadow: rgb(255, 255, 255) 0px 1px; font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace; font-size: 1em; text-align: left; white-space: pre; word-spacing: normal; word-break: normal; overflow-wrap: normal; line-height: 1.5; tab-size: 4; hyphens: none; }

code[class*="language-"] ::selection, code[class*="language-"]::selection, pre[class*="language-"] ::selection, pre[class*="language-"]::selection { text-shadow: none; background: rgb(179, 212, 252); }

@media print {
  code[class*="language-"], pre[class*="language-"] { text-shadow: none; }
}

pre[class*="language-"] { padding: 1em; margin: 0.5em 0px; overflow: auto; }

:not(pre) > code[class*="language-"], pre[class*="language-"] { background: rgb(245, 242, 240); }

:not(pre) > code[class*="language-"] { padding: 0.1em; border-radius: 0.3em; white-space: normal; }

.token.cdata, .token.comment, .token.doctype, .token.prolog { color: rgb(112, 128, 144); }

.token.punctuation { color: rgb(153, 153, 153); }

.token.namespace { opacity: 0.7; }

.token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag { color: rgb(153, 0, 85); }

.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string { color: rgb(102, 153, 0); }

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url { color: rgb(154, 110, 58); background: rgba(255, 255, 255, 0.5); }

.token.atrule, .token.attr-value, .token.keyword { color: rgb(0, 119, 170); }

.token.class-name, .token.function { color: rgb(221, 74, 104); }

.token.important, .token.regex, .token.variable { color: rgb(238, 153, 0); }

.token.bold, .token.important { font-weight: 700; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }

.tippy-box[data-animation="scale"][data-placement^="top"] { transform-origin: center bottom; }

.tippy-box[data-animation="scale"][data-placement^="bottom"] { transform-origin: center top; }

.tippy-box[data-animation="scale"][data-placement^="left"] { transform-origin: right center; }

.tippy-box[data-animation="scale"][data-placement^="right"] { transform-origin: left center; }

.tippy-box[data-animation="scale"][data-state="hidden"] { transform: scale(0.5); opacity: 0; }

.tippy-box[data-animation="fade"][data-state="hidden"] { opacity: 0; }

[data-tippy-root] { max-width: calc(-10px + 100vw); }

.tippy-box { position: relative; background-color: rgb(51, 51, 51); color: rgb(255, 255, 255); border-radius: 4px; font-size: 14px; line-height: 1.4; white-space: normal; outline: 0px; transition-property: transform, visibility, opacity; }

.tippy-box[data-placement^="top"] > .tippy-arrow { bottom: 0px; }

.tippy-box[data-placement^="top"] > .tippy-arrow::before { bottom: -7px; left: 0px; border-width: 8px 8px 0px; border-top-color: initial; transform-origin: center top; }

.tippy-box[data-placement^="bottom"] > .tippy-arrow { top: 0px; }

.tippy-box[data-placement^="bottom"] > .tippy-arrow::before { top: -7px; left: 0px; border-width: 0px 8px 8px; border-bottom-color: initial; transform-origin: center bottom; }

.tippy-box[data-placement^="left"] > .tippy-arrow { right: 0px; }

.tippy-box[data-placement^="left"] > .tippy-arrow::before { border-width: 8px 0px 8px 8px; border-left-color: initial; right: -7px; transform-origin: left center; }

.tippy-box[data-placement^="right"] > .tippy-arrow { left: 0px; }

.tippy-box[data-placement^="right"] > .tippy-arrow::before { left: -7px; border-width: 8px 8px 8px 0px; border-right-color: initial; transform-origin: right center; }

.tippy-box[data-inertia][data-state="visible"] { transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11); }

.tippy-arrow { width: 16px; height: 16px; color: rgb(51, 51, 51); }

.tippy-arrow::before { content: ""; position: absolute; border-color: transparent; border-style: solid; }

.tippy-content { position: relative; padding: 5px 9px; z-index: 1; }

@keyframes styles_spinner__YFmQJ { 
  100% { transform: rotate(1turn); }
}

.styles_textCenter__lKCsF { text-align: center; }

.styles_colorGray__cKWyB { color: rgb(120, 113, 108); }

.styles_container__unOV2 { position: absolute; inset: 0px; display: flex; justify-content: center; align-items: center; padding: 2vmin; font-size: 16px; line-height: 1.5; color: rgb(55, 53, 47); caret-color: rgb(55, 53, 47); font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; }

.styles_loadingIcon__cjsDo { animation: 0.6s linear 0s infinite normal none running styles_spinner__YFmQJ; display: block; width: 24px; height: 24px; color: rgba(55, 53, 47, 0.4); }

.styles_main__Y8b8e { display: flex; flex-direction: column; justify-content: center; align-items: center; }

.styles_errorImage__SpJkk { max-width: 100%; width: 640px; }

.styles_footer__RBpyk { width: 100%; max-width: 1100px; margin: auto auto 0px; padding: 8px; display: flex; flex-direction: row; justify-content: space-between; align-items: center; }

.styles_copyright__nhL_k { font-size: 80%; padding: 0.5em; }

.styles_settings__GyEhi, .styles_social__ptL3p { user-select: none; }

.styles_settings__GyEhi a, .styles_social__ptL3p a { cursor: pointer; font-size: 2em; display: inline-flex; padding: 0.25em; margin-right: 1vw; transition: color 0.25s ease-out; }

.styles_settings__GyEhi a:last-of-type, .styles_social__ptL3p a:last-of-type { margin-right: 0px; }

.styles_settings__GyEhi a:hover, .styles_social__ptL3p a:hover { transition: color 50ms ease-out; }

.styles_toggleDarkMode__QfgK_:hover, .styles_twitter__3YoqL:hover { color: rgb(39, 149, 233); }

.styles_github__0JN7a:hover { color: rgb(201, 81, 12); }

.styles_linkedin__bgwDi:hover { color: rgb(0, 119, 181); }

.styles_comments__YEupF { border-top: 1px solid var(--fg-color-0); }

.styles_comments__YEupF, .styles_utterances__wYJCI { width: 100%; margin-top: 2em; }

@media only screen and (min-width: 567px) {
  .styles_utterances__wYJCI { width: calc(100% + 60px); position: relative; left: -60px; }
}

@media only screen and (max-width: 566px) {
  .styles_footer__RBpyk { flex-direction: column; }
  .styles_footer__RBpyk > div { margin-top: 1em; }
  .styles_footer__RBpyk .styles_settings__GyEhi { order: 1; }
  .styles_footer__RBpyk .styles_social__ptL3p { order: 2; }
  .styles_footer__RBpyk .styles_copyright__nhL_k { order: 3; }
}

.styles_pageActions__hTb1P { display: flex; flex-direction: row; justify-content: center; padding: 6px 12px 12px; }

.styles_pageActions__hTb1P a { cursor: pointer; font-size: 24px; display: inline-flex; padding: 12px; margin-right: 1vw; border-radius: 50%; background: transparent; transition: 0.25s ease-out; }

.styles_pageActions__hTb1P a:last-of-type { margin-right: 0px; }

.styles_pageActions__hTb1P a:hover { transition: 50ms ease-out; }

.styles_likeTweet__xxvAm:hover { background: rgb(246, 227, 232); color: rgb(224, 38, 94); }

.styles_retweet__ccIGG:hover { color: rgb(25, 191, 100); background: rgb(229, 242, 232); }

@media (max-width: 1360px) {
  .styles_githubCorner__7QjNo { display: none; }
}

.styles_githubCorner__7QjNo:hover .styles_octoArm__PrtZ9 { animation: 0.56s ease-in-out 0s 1 normal none running styles_octocat-wave__UeRXj; }

@keyframes styles_octocat-wave__UeRXj { 
  0%, 100% { transform: rotate(0deg); }
  20%, 60% { transform: rotate(-25deg); }
  40%, 80% { transform: rotate(10deg); }
}

@media (max-width: 500px) {
  .styles_githubCorner__7QjNo:hover .styles_octoArm__PrtZ9 { animation: auto ease 0s 1 normal none running none; }
  .styles_githubCorner__7QjNo .styles_octoArm__PrtZ9 { animation: 0.56s ease-in-out 0s 1 normal none running styles_octocat-wave__UeRXj; }
}