@charset "utf-8";

.medium-zoom-overlay { position: fixed; inset: 0px; opacity: 0; transition: opacity 0.3s; will-change: opacity; }

.medium-zoom--opened .medium-zoom-overlay { cursor: zoom-out; opacity: 1; }

.medium-zoom-image { cursor: zoom-in; transition: transform 0.3s cubic-bezier(0.2, 0, 0.2, 1) !important; }

.medium-zoom-image--hidden { visibility: hidden; }

.medium-zoom-image--opened { position: relative; cursor: zoom-out; will-change: transform; }